<div id="main">
  <div class="text-light">
    <h1>About</h1>
    <p>Hey there, I'm Ludwig Anderzen, a 21-year-old with a passion for programming. You're checking out my portfolio, and I hope it leaves a positive impression. I'm on a journey to become a pro in the programming world, so stay tuned for more exciting stuff!</p>
    <br>
    <h3>Education experiences</h3>
    {{#each educationExperience}}
      <div>{{expDate}}, {{expName}}.</div>
    {{/each}}
    <br />
    <br>
    <h3>Work experiences</h3>
    {{#each workExperience}}
      <div>{{expDate}}, {{expName}}.</div>
    {{/each}}
    <br />
    <br>
    <h3>Competences</h3>
    {{#each theCompetence}}
      <div>{{competenceDate}},
        {{competenceName}}.
        {{#if ../isAdmin}}
          <a  href="/about/update/{{competenceID}}" class="btn btn-primary important">
            Modify
          </a>
          <a  href="/about/delete/{{competenceID}}" class="btn btn-primary important">
            Delete
          </a>
        {{/if}}
      </div>
    {{/each}}
    <br>
    {{#if isAdmin}}
    <div class="divider"></div>
    <h3>Add competences</h3>
     <form action="/about/add-competence" method="POST">
        <label class="form-label" for="competenceName">Name</label>
        <input type="text" class="form-input" id="competenceName" name="competenceName">
        <label class="form-label" for="competenceDate">Year</label>
        <input type="text" class="form-input" id="competenceDate" name="competenceDate">
        <br>
        <input type="submit" class="btn btn-primary" value="Add">
      </form>
    {{/if}}
  </div>
</div>